/* CSS FOR PLACEMENT AND FONT SIZING */




/*-- Font sizing --*/
.larger { font-size: 400%; line-height: normal;}
.bitlarger { font-size: 200%; line-height: normal; }
.large { font-size: 130%; line-height: normal; }
.midi { font-size: 85% }
.small { font-size: 70% }
.xsmall { font-size: 60% }
.tiny { font-size: 50% }

.italic{
	font-style: italic;
}

.bold {
  font-weight: bolder;
}

.strike{
  text-decoration: line-through;
}

/*-- Spacing --*/
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right + * {
  clear: both;
}

.pull-bottom {
position: absolute;
top: 620px;
right: 50px;
color: #8c8c8c
}

.pull-low {
position: relative;
top: 200px;
line-height: normal;
}

.center {
  margin: auto;
  text-align: center;

}

.left-align {

	margin: auto;
	text-align: left;
}

.right-align{
	margin: auto;
	text-align: right;
}


.pull-left-narrow {
  float: left;
  width: 20%;
}

.pull-right-wide {
  float: right;
  width: 75%;
}

.pull-right-wide + * { clear: both; }

.pull-right-low {
  position: relative;
  top: 100px;
  left: 70px;
}

.pull-right-low + * { clear: both; }



/* TITLE SLIDE STYLE */

.title-slide h2 {
  position: absolute;
  top: 90px;
  right: 18px;
  width: 50%;

}

.title-slide h3 {
  position: relative;
  width: 48%;
  top:  0px;
  left: 440px;

}

.title-slide h4 {
  position: relative;
  width: 48%;
  top:  0px;
  left: 440px;
  color: #4b6640;
  font-style: italic;
  font-size: 70%;

}

.contact {
  position: relative;
  top: 20px;
  left: 580px;
}

.title-slide > .fa-github, .fa-twitter {
  color: #4b6640;
}

.webpage {
  position: relative;
  left: -3px;
}

.webpage > .fa-address-card, .fa-github {
  color: #4b6640;
}

.citation {
  position: absolute;
  bottom: 0.6%;
  left: 1%;
  font-size: 75%;
  color: gray;

}


/*-- BACKGROUNDS AND SPECIFIC SLIDE STYLING --*/

/* title slide */

.bg_citrus {
  position: relative;
  z-index: 1;
}

.bg_citrus::before {    
      content: "";
      background-image: url('images/bg/orange.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #f5f4f0;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 1;
      z-index: -1;
}



/* slide one: introduction */

.bg_peacock {
  position: relative;
  z-index: 1;
}

.bg_peacock::before {    
      content: "";
      background-image: url('images/bg/koson-peacock.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
      z-index: -1;
}


/* slide two: explanation */

.bg_bat {
  position: relative;
  z-index: 1;
  background-color: #F7F7F6;
}

.bg_bat::before {    
      content: "";
      background-image: url('images/bg/bat.jpg');
      background-size: 600px;
      background-repeat: no-repeat;
      background-color: #F7F7F6;
      position: absolute;
      top: 350px;
      right: 0px;
      bottom: 0px;
      left: 430px;
      opacity: 0.9;
      z-index: -1;
}

.circle {
  width: 500px;
  height: 200px;
  border-style: solid;
  border-width: 6px;
  border-color: #444444;
  border-radius: 200px;
  background-color: #343444;
  box-shadow: inset 0px 0px 10px 0px #222222;
  overflow: hidden;
}

.circleWrapper {
  width: 512px;
  height: 212px;
  padding: 0px;
  border-radius: 212px;
  box-shadow: 0px 0px 10px 0px #000000;
}

.content {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
}

/* slide three: causality is complicated */

/* slide four: the kinds of questions */


.bg_jelly {
  position: relative;
  z-index: 1;
}

.bg_jelly::before {    
      content: "";
      background-image: url('images/bg/naturalists-misc.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 500px;
      opacity: 0.4;
      z-index: -1;
}



.bg_sunflower {
  position: relative;
  z-index: 1;
  background-color: #EFEDE6;
}

.bg_sunflower::before {    
      content: "";
      background-image: url('images/bg/sunflower.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #EFEDE6;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 1;
      z-index: -1;
}

.bg_sunflower h3 {
  position: relative;
  top: -20px;
}

/* slide two: evolution mountain */

.bg_01mt {    
  background-image: url('images/figs/01-mountain.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1.1;
}

.bg_02mt {    
  background-image: url('images/figs/02-mountain.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1.1;
}

.bg_03mt {    
  background-image: url('images/figs/03-mountain.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1.1;
}

.bg_04mt {    
  background-image: url('images/figs/04-mountain.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1.1;
}

.bg_05mt {    
  background-image: url('images/figs/05-mountain.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1.1;
}
.bg_06mt {    
  background-image: url('images/figs/06-mountain.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1.1;
}
.bg_07mt {    
  background-image: url('images/figs/07-mountain.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1.1;
}
.bg_08mt {    
  background-image: url('images/figs/08-mountain.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1.1;
}

/* slide three: proximate and ultimate causality */

.bg_gorg {
  position: relative;
  z-index: 1;
}

.bg_gorg::before {    
      content: "";
      background-image: url('images/bg/gorgonia.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.2;
      z-index: -1;
}

/* slide four: causal scope */




/* slide five: kampourakis typology */


/* slide six: legitimate teleology */

.bg_bison {
  position: relative;
  z-index: 1;
  background-color: #EEEDE9;
}

.bg_bison::before {    
      content: "";
      background-image: url('images/bg/bison.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #EEEDE9;
      position: absolute;
      top: 90px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.9;
      z-index: -1;
}

.bisontext {
  position: absolute;
  top: 340px;
  left: 200px;
  width: 65%;
}

/* slide seven: utility of functional description */


.bg_butterfly {
  position: relative;
  z-index: 1;
}

.bg_butterfly::before {    
      content: "";
      background-image: url('images/bg/laertes-butterfly.jpg');
      background-size: 40%;
      background-repeat: no-repeat;
      position: absolute;
      right: 1%;
      bottom: 1%;
      opacity: 0.4;
      z-index: -1;
}

/* slide eight: tinbergen framework, organized */

/* slide nine: developing questions */

.bg_fish {
  position: relative;
  z-index: 1;
  background-color: #F9F9F7;
}

.bg_fish::before {    
  content: "";
  background-image: url('images/bg/fish.jpg');
  background-size: 400px;
  background-repeat: no-repeat;
  background-color: #F9F9F7;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  z-index: -1;
}

.bg_fish h2 {
position: relative;
top: 240px;
width: 40%;
right: 70px;
text-align: left;
line-height: normal;

}

/* slide ten: gap in literature */

.bg_sting {
  position: relative;
  z-index: 1;
  background-color: #F4EFEF;
}

.bg_sting::before {    
      content: "";
      background-image: url('images/bg/sting.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #F4EFEF;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 10px;
      left: 0px;
      opacity: 1;
      z-index: -1;
}

.bg_sting h2 {
  position: absolute;
  top: 22%;
  right: 5%;
  width: 35%;
}

/* slide eleven: propose the framework */

.bg_butterfly {
  position: relative;
  z-index: 1;
}

.bg_butterfly::before {    
      content: "";
      background-image: url('images/bg/laertes-butterfly.jpg');
      background-size: 40%;
      background-repeat: no-repeat;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 40px;
      opacity: 0.4;
      z-index: -1;
}

/* slide twelve: validity evidence */

.bg_leaves {
  position: relative;
  z-index: 1;
  background-color: #F3F1EB;
}

.bg_leaves::before {    
  content: "";
  background-image: url('images/bg/leaves.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #F3F1EB;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 50px;
  opacity: 1;
  z-index: -1;
}

.leavestext {
  width: 50%;
  line-height: 1.3em;
  position: relative;
  text-align: left;
  left: 230px;
}

/* slide thirteen: overview */

/* slide fourteen: pattern you discovered  */

.bg_10-results {
  background-image: url(images/figs/50-results.png);
  background-size: 90%;
  background-repeat: no-repeat;
}

.bg_11-results {
  background-image: url(images/figs/51-results.png);
  background-size: 90%;
  background-repeat: no-repeat;
}

.bg_12-results {
  background-image: url(images/figs/52-results.png);
  background-size: 90%;
  background-repeat: no-repeat;
}

.bg_13-results {
  background-image: url(images/figs/53-results.png);
  background-size: 90%;
  background-repeat: no-repeat;
}


.bg_14-results {
  background-image: url(images/figs/54-results.png);
  background-size: 90%;
  background-repeat: no-repeat;
}



/* slide fifteen: limitations and future work */

.bg_3birds {
  position: relative;
  z-index: 1;
  background-color: #F3F1EB;
}

.bg_3birds::before {    
  content: "";
  background-image: url('images/bg/three-birds.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #F3F1EB;
  position: absolute;
  top: 30px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
}

.birdtext{
  background-color: #F3F1EB;
  width: fit-content;
  position: relative;
  right: 10px;
}

/* conclusion slide */

.bg_2birds {
  position: relative;
  z-index: 1;
  background-color: #f3e9e0;
}

.bg_2birds::before {    
  content: "";
  background-image: url('images/bg/2birds.jpg');
  background-size: 440px;
  background-repeat: no-repeat;
  background-color: #f3e9e0;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
}

/* acknowledgements slide */

.bg_lotus {
  position: relative;
  z-index: 1;
}

.bg_lotus::before {    
      content: "";
      background-image: url('images/bg/lotus.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #B0C4CB;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 1;
      z-index: -1;
}

.bg_lotus h2{
  /* width: 80%; */
  position: relative;
  left: 100px;
  top: 20px;
}

.lotustext {
  position: relative;
  text-align: right;
  left: 20px;
}

.lotusthanks{
  background-color: rgb(218, 174, 169);
  width: fit-content;
}






/*-- LINK STYLING --*/

a {
  color:              #df6311;
  border-bottom:      0px;
  text-decoration: none;
  line-height:        1.5em;
  font-weight: bold;
}

a:hover {
  border-bottom:      0px;
}

/*-- HEADINGS --*/
.remark-slide-content h1 {
  color:              #4b6640;
  font-size:          45px;
  line-height:        1em;
}

.remark-slide-content h2 {
  font-size:          35px;
  color:              #4b6640;
  line-height:        1em;
  font-family: Fira;
}

.remark-slide-content h3 {
  font-size:          28px;
  color:              #df6311;
  line-height: normal;
  font-family: 'Roboto Condensed', sans-serif;
}

/*-- PARAGRAPH TEXT --*/
.remark-slide-content {
  font-size:          20px;
  line-height:        1em;
  font-family: "Charter-Racket", serif;
  color: #2b2b2b
}

.remark-slide-content ol {
  line-height: normal;
}

/*-- HORIZONTAL BARS --*/
hr {
  content:            none;
  display:            block;
  border:             none;
  background-color:   #231F20;
  height:             0.08em;
}

/*-- BOTTOM-OF-SLIDE PROPERTIES --*/

/*-- Footnote --*/
.footnote-light {
  position: absolute;
  bottom: 0%;
  left: 1em;
  font-size: 65%;
  line-height: 1.3em;
  font-weight: bolder;
}

.footnote-dark {
  position: absolute;
  bottom: 0.2em;
  left: 2em;
  font-size: 65%;
  line-height: 1.3em;
  color: #FFFFFF;
  font-weight: bolder;
}

/*-- Slide number --*/
.remark-slide-number {
  color:              #000000;
}

/*-- CODE TEXT --*/

/*-- In-line highlighting within text --*/
.remark-code, .remark-inline-code {
  font-size:          90%;
  font-weight:        400;
  color:              #e9e9e9;
  background:         #E8EDEE;
  border-radius:      3px;
  padding:            1px 1px 1px 1px;
  opacity: 0.85;
}

/*-- Line highlighting within code --*/
.remark-code-line-highlighted {
  background-color:   #d9e49d;
  color: #000000;
}

/*-- CODE CHUNKS --*/

/*-- Code chunk background layer --*/
pre {
  /*border: 2px solid rgba(204, 189, 204, 0.8); /* code chunk border*/
  border:             none;
  box-shadow:         2px 2px 2px 2px #eee;
  padding:            0.1em;                    /* padding between code chunk and border */
  background:          #577457;
  overflow-x:         auto;                     /* enable horizontal scrolling with overflow */
  border-radius:      1px;                      /* modify rounding of corners*/
  opacity: 0.9;
}

/*--  --*/
pre code {
  background:          none;
  font-size:           18px !important;
}

/*-- TABLES --*/
.remark-slide table {
  margin:              auto;
  border-top:          2px solid goldenrod;
  border-bottom:       2px solid goldenrod;

}

th {
  font-size: 22px;
  line-height: normal;
  text-align: right;

  
}
td {
  text-align: right;
  padding-left: 5em;
  padding-bottom: 0.7em;
}


/*-- BLOCK QUOTE --*/

blockquote {
  display: block;
  position: relative;
  width: 80%;
  margin: 0px 0px 0px 0px;
  border-left: solid 5px #000000;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }


.border {
  display: block;
  position: relative;
  padding: 5px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 28px -35px 28px -35px;
  border-left: solid 5px #000000;

}

.border-opaque {
  display: block;
  position: relative;
  padding: 5px;
  background: #9fd1e3;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 150px 0px 0px 200px;
  border-left: solid 5px #000000;

}


/*-- Hides slide number --*/
.remark-slide-number {
  display:             none;
}

/*-- CUSTOM CLASSES FOR TEXT EMPHASIS --*/
.blue       { color:   #005EB8 }
.green      { color:   #009639 }
.pink       { color:   #AE2573 }
.red        { color:   #DA291C }
.warmyellow { color:   #FFB81C }
.gold       { color:   #b0a402;}
.white      { color: white;}
#opacity		{ opacity: 0}